*{
    padding: 0;
    margin:0;
    & body{
        overflow-x: hidden;
        
        & header{
            display: flex;
            width: 100vw;
            background-color:#09001B;
            justify-content: space-between;
            & h1{
                background-color:#09001B;
                color: white;
                & a{
                    text-decoration: none;
                    color: white;
                }
            }
            & div.barra{
                display: flex;
                width: 20%;
                padding-right:40px ;
                justify-content: center;
                align-items: center;

                & ul{
                    height: 50px;
                    width: 100%;

                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    & li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        & a{
                        color:white;
                        text-decoration: none;
                            &:hover{
                                background-color: grey;
                            }

                        }
                    }
                        
                    }
                }
            }
        & main{
            background-image: url(./fondo.png)  !important;
          
        }

        & footer{
            background-color:#143B69;
            & div.piedepagina{

                & img{
                    height: 80px;
                
                }
                & p{
                    color: white;
                    text-decoration: underline;
                    display: flex;
                    
                }
                & ul{

                    & li{

                        & a{
                            display: flex;
                            justify-content: center;
                            text-decoration: none;
                            color:white;
                            font-size: 30px;
                            
                        }
                    }
                }
            }
            
        }

    }
}